In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("2019_cbs_data.xls")

In [3]:
df.head()

,gwb_code_10,gwb_code_8,regio,gm_naam,recs,gwb_code,ind_wbi,a_inw,a_man,a_vrouw,...,g_afs_kv,g_afs_sc,g_3km_sc,a_opp_ha,a_lan_ha,a_wat_ha,pst_mvp,pst_dekp,ste_mvs,ste_oad
0,NL00,0,Nederland,Nederland,Land,NL00,.,17282163,8581086,8701077,...,"0,6","0,7","10,9",4154338,3367109,787228,.,.,2,1994
1,GM0003,3,Appingedam,Appingedam,Gemeente,GM0003,.,11721,5720,6001,...,"0,9","0,9","6,4",2458,2378,80,.,.,3,1067
2,WK000300,300,Wijk 00,Appingedam,Wijk,WK000300,1,11720,5720,6000,...,"0,9","0,9","6,4",2458,2378,80,.,.,3,1067
3,BU00030000,30000,Appingedam-Centrum,Appingedam,Buurt,BU00030000,1,2370,1135,1230,...,"1,2","1,1","7,1",90,84,5,9901,1,3,1210
4,BU00030001,30001,Appingedam-West,Appingedam,Buurt,BU00030001,1,3035,1505,1530,...,"1,0","1,0","4,0",163,158,5,9903,6,4,903

In [4]:
netherlands = df.iloc[0,:]
print(netherlands)

gwb_code_10         NL00
gwb_code_8             0
regio          Nederland
gm_naam        Nederland
recs                Land
                 ...
a_wat_ha          787228
pst_mvp                .
pst_dekp               .
ste_mvs                2
ste_oad             1994
Name: 0, Length: 119, dtype: object

In [5]:
df = df[df['recs']!='Land']

In [6]:
#df = df[df['gm_naam']=='Eindhoven']

In [7]:
df = df[df['recs']!='Wijk']

In [8]:
df = df[df['recs']!='Gemeente']

In [9]:
df

,gwb_code_10,gwb_code_8,regio,gm_naam,recs,gwb_code,ind_wbi,a_inw,a_man,a_vrouw,...,g_afs_kv,g_afs_sc,g_3km_sc,a_opp_ha,a_lan_ha,a_wat_ha,pst_mvp,pst_dekp,ste_mvs,ste_oad
3,BU00030000,30000,Appingedam-Centrum,Appingedam,Buurt,BU00030000,1,2370,1135,1230,...,"1,2","1,1","7,1",90,84,5,9901,1,3,1210
4,BU00030001,30001,Appingedam-West,Appingedam,Buurt,BU00030001,1,3035,1505,1530,...,"1,0","1,0","4,0",163,158,5,9903,6,4,903
5,BU00030002,30002,Appingedam-Oost,Appingedam,Buurt,BU00030002,1,5725,2760,2960,...,"0,7","0,7","7,7",295,284,11,9902,1,3,1140
6,BU00030007,30007,Verspreide huizen Damsterdiep en Eemskanaal,Appingedam,Buurt,BU00030007,1,325,175,150,...,"1,3","1,3","3,5",559,540,18,9903,4,5,359
7,BU00030008,30008,Verspreide huizen ten zuiden van Eemskanaal,Appingedam,Buurt,BU00030008,1,100,55,45,...,"2,7","2,7","2,7",582,554,28,9902,1,5,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17108,BU19781901,19781901,Waal-Dorp,Molenlanden,Buurt,BU19781901,3,110,60,55,...,"2,7","2,4","2,0",5,5,0,2968,1,5,50
17110,BU19782001,19782001,Wijngaarden-Buitengebied,Molenlanden,Buurt,BU19782001,3,10,5,5,...,"2,5","2,9","0,7",580,574,6,3366,1,5,18
17111,BU19782002,19782002,Kern-Dorp,Molenlanden,Buurt,BU19782002,3,440,225,215,...,"0,5","0,2","1,0",11,11,0,3366,1,5,75
17112,BU19782003,19782003,Lintbebouwing-Oost,Molenlanden,Buurt,BU19782003,3,150,70,80,...,"1,2","1,7","1,0",28,28,0,3366,1,5,36
17113,BU19782004,19782004,Lintbebouwing-West,Molenlanden,Buurt,BU19782004,3,115,60,60,...,"1,4","0,9","1,0",20,19,1,3366,1,5,59

In [10]:
df_filtered = df[['regio', # neighbourhood
                  'gm_naam', # municipality, only for simple reading afterwards
                  'a_inw', #inhabitants
                  'a_vrouw', #women amount
                  'a_00_14', #0-15
                  'a_15_24', #15-24
                  'a_25_44', #25-44
                  'a_45_64', #45-64
                  'a_geb', #births
                  'a_hh_m_k', # households with children
                  'a_ongeh', #unmarried
                  'p_huurw',  # perc. rental 
                  'p_arb_pp', # perc. nett working participaton
                  'a_opl_lg',  # amount low education
                  'a_opl_md',  #amount mid edu
                  'a_opl_hg', # amount high edu
                  'g_hh_sti', # average standardized income
                  'g_pau_hh', #cars per hh
                  'pst_mvp' # most occuring postal
                 ]]


df_renamed = df_filtered.rename(columns={'regio': 'neighbourhood', 
                                         'gm_naam': 'municipality',
                                         'a_inw': 'citizens', 
                                         'a_vrouw': 'females', 
                                         'a_ongeh': 'not_married', 
                                         'p_huurw': 'rental_perc', 
                                         'p_arb_pp': 'percentage_working', 
                                         'a_opl_lg': 'low_edu',  
                                         'a_opl_md': 'mid_edu',  
                                         'a_opl_hg': 'high_edu', 
                                         'a_geb': 'births',
                                         'g_hh_sti': 'avg_income',
                                         'a_hh_m_k': 'households_w_children', 
                                         'g_pau_hh': 'cars_per_household', 
                                         'pst_mvp': 'postal_code_center'
                                        })

df_renamed

,neighbourhood,municipality,citizens,females,a_00_14,a_15_24,a_25_44,a_45_64,births,households_w_children,not_married,rental_perc,percentage_working,low_edu,mid_edu,high_edu,avg_income,cars_per_household,postal_code_center
3,Appingedam-Centrum,Appingedam,2370,1230,230,225,500,715,10,250,985,59,61,480,650,720,.,"0,9",9901
4,Appingedam-West,Appingedam,3035,1530,480,350,570,990,25,480,1285,31,66,680,1150,520,.,"1,2",9903
5,Appingedam-Oost,Appingedam,5725,2960,900,580,1205,1560,40,865,2415,60,57,1460,2200,440,"24,2","0,9",9902
6,Verspreide huizen Damsterdiep en Eemskanaal,Appingedam,325,150,65,45,65,115,0,60,170,5,78,40,140,70,.,"1,8",9903
7,Verspreide huizen ten zuiden van Eemskanaal,Appingedam,100,45,10,15,10,45,0,15,40,12,.,40,30,10,.,.,9902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17108,Waal-Dorp,Molenlanden,110,55,20,20,25,40,5,20,50,6,.,10,60,30,.,.,2968
17110,Wijngaarden-Buitengebied,Molenlanden,10,5,5,5,0,5,0,0,5,.,.,.,.,.,.,.,3366
17111,Kern-Dorp,Molenlanden,440,215,60,70,80,135,5,65,160,23,70,70,200,70,.,"1,2",3366
17112,Lintbebouwing-Oost,Molenlanden,150,80,40,20,20,40,5,25,60,11,.,30,50,20,.,.,3366
17113,Lintbebouwing-West,Molenlanden,115,60,25,15,20,35,5,20,40,3,.,.,.,.,.,.,3366

In [11]:
## some more preprocessing
df_new = df_renamed
df_new.dtypes

neighbourhood            object
municipality             object
citizens                  int64
females                   int64
a_00_14                   int64
a_15_24                   int64
a_25_44                   int64
a_45_64                   int64
births                    int64
households_w_children     int64
not_married               int64
rental_perc              object
percentage_working       object
low_edu                  object
mid_edu                  object
high_edu                 object
avg_income               object
cars_per_household       object
postal_code_center       object
dtype: object

In [12]:
df_new['percentage_under_15'] = (df['a_00_14'] / df['a_inw']) * 100
df_new
#for column in df_new.columns:
#    if (column.name = 'neighbourhood'):
#        continue
#    df_new[column] = df_new[column] = df_new[column].replace('.', str(0)).str.replace(',', '.').astype(float)

,neighbourhood,municipality,citizens,females,a_00_14,a_15_24,a_25_44,a_45_64,births,households_w_children,not_married,rental_perc,percentage_working,low_edu,mid_edu,high_edu,avg_income,cars_per_household,postal_code_center,percentage_under_15
3,Appingedam-Centrum,Appingedam,2370,1230,230,225,500,715,10,250,985,59,61,480,650,720,.,"0,9",9901,9.704641
4,Appingedam-West,Appingedam,3035,1530,480,350,570,990,25,480,1285,31,66,680,1150,520,.,"1,2",9903,15.815486
5,Appingedam-Oost,Appingedam,5725,2960,900,580,1205,1560,40,865,2415,60,57,1460,2200,440,"24,2","0,9",9902,15.720524
6,Verspreide huizen Damsterdiep en Eemskanaal,Appingedam,325,150,65,45,65,115,0,60,170,5,78,40,140,70,.,"1,8",9903,20.000000
7,Verspreide huizen ten zuiden van Eemskanaal,Appingedam,100,45,10,15,10,45,0,15,40,12,.,40,30,10,.,.,9902,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17108,Waal-Dorp,Molenlanden,110,55,20,20,25,40,5,20,50,6,.,10,60,30,.,.,2968,18.181818
17110,Wijngaarden-Buitengebied,Molenlanden,10,5,5,5,0,5,0,0,5,.,.,.,.,.,.,.,3366,50.000000
17111,Kern-Dorp,Molenlanden,440,215,60,70,80,135,5,65,160,23,70,70,200,70,.,"1,2",3366,13.636364
17112,Lintbebouwing-Oost,Molenlanden,150,80,40,20,20,40,5,25,60,11,.,30,50,20,.,.,3366,26.666667
17113,Lintbebouwing-West,Molenlanden,115,60,25,15,20,35,5,20,40,3,.,.,.,.,.,.,3366,21.739130

In [13]:
df_new['avg_income'] = df_new['avg_income'].replace('.', str(0))
df_new['avg_income'] = df_new['avg_income'].str.replace(',', '.').astype(float)
df_new['cars_per_household'] = df_new['cars_per_household'].replace('.', str(0))
df_new['cars_per_household'] = df_new['cars_per_household'].str.replace(',', '.').astype(float)
df_new['rental_perc'] = df_new['rental_perc'].replace('.', str(0))
df_new['rental_perc'] = df_new['rental_perc'].str.replace(',', '.').astype(float)

df_new

,neighbourhood,municipality,citizens,females,a_00_14,a_15_24,a_25_44,a_45_64,births,households_w_children,not_married,rental_perc,percentage_working,low_edu,mid_edu,high_edu,avg_income,cars_per_household,postal_code_center,percentage_under_15
3,Appingedam-Centrum,Appingedam,2370,1230,230,225,500,715,10,250,985,59.0,61,480,650,720,0.0,0.9,9901,9.704641
4,Appingedam-West,Appingedam,3035,1530,480,350,570,990,25,480,1285,31.0,66,680,1150,520,0.0,1.2,9903,15.815486
5,Appingedam-Oost,Appingedam,5725,2960,900,580,1205,1560,40,865,2415,60.0,57,1460,2200,440,24.2,0.9,9902,15.720524
6,Verspreide huizen Damsterdiep en Eemskanaal,Appingedam,325,150,65,45,65,115,0,60,170,5.0,78,40,140,70,0.0,1.8,9903,20.000000
7,Verspreide huizen ten zuiden van Eemskanaal,Appingedam,100,45,10,15,10,45,0,15,40,12.0,.,40,30,10,0.0,0.0,9902,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17108,Waal-Dorp,Molenlanden,110,55,20,20,25,40,5,20,50,6.0,.,10,60,30,0.0,0.0,2968,18.181818
17110,Wijngaarden-Buitengebied,Molenlanden,10,5,5,5,0,5,0,0,5,0.0,.,.,.,.,0.0,0.0,3366,50.000000
17111,Kern-Dorp,Molenlanden,440,215,60,70,80,135,5,65,160,23.0,70,70,200,70,0.0,1.2,3366,13.636364
17112,Lintbebouwing-Oost,Molenlanden,150,80,40,20,20,40,5,25,60,11.0,.,30,50,20,0.0,0.0,3366,26.666667
17113,Lintbebouwing-West,Molenlanden,115,60,25,15,20,35,5,20,40,3.0,.,.,.,.,0.0,0.0,3366,21.739130

In [14]:
# Assign preprocessed dataset to new variable
cbs_data_prepped = df_new

def calculate_demand_values(data):
    # Children under 15
    data['play_child_value']= data['a_00_14']\
        .apply(lambda x: 2 if (x > 800) else (1 if (x>360) else 0 ) )
    # Households with children
    data['play_household_with_children']= data['households_w_children']\
        .apply(lambda x: 2 if (x > 800) else (1 if (x>360) else 0 ) )
    # income level
    data['play_income']= data['avg_income']\
        .apply(lambda x: -1 if (x < 24.2) else 0)
    # cars per household
    data['play_cars']= data['cars_per_household']\
        .apply(lambda x: 1 if (x > 0.5) else 0 )
    # births
    data['play_births']= data['births']\
        .apply(lambda x: 1 if (x > 9) else 0 )
    # rental homes
    data['play_rental']= data['rental_perc']\
        .apply(lambda x: 1 if (x > 41) else (0 if (x>21) else -1 ) )
    # calculated sum of demand
    data['play_demand'] = data['play_child_value']\
                          + data['play_household_with_children']\
                          + data['play_income']\
                          + data['play_cars']\
                          + data['play_births']\
                          + data['play_rental']
    
    return data

demand_included_playground = calculate_demand_values(cbs_data_prepped)

In [15]:
def calculate_demand_values_perc(data):
    # Children under 15
    ## POSSIBLE percentage of children
    data['play_percentage_child']= data['percentage_under_15']\
        .apply(lambda x: 2 if (x > 20) else (1 if (x>15) else 0 ) )
    # Households with children
    data['play_household_with_children']= data['households_w_children']\
        .apply(lambda x: 2 if (x > 800) else (1 if (x>360) else 0 ) )
    # income level
    data['play_income']= data['avg_income']\
        .apply(lambda x: -1 if (x < 24.2) else 0)
    # cars per household
    data['play_cars']= data['cars_per_household']\
        .apply(lambda x: 1 if (x > 0.5) else 0 )
    # births
    data['play_births']= data['births']\
        .apply(lambda x: 1 if (x > 9) else 0 )
    # rental homes
    data['play_rental']= data['rental_perc']\
        .apply(lambda x: 1 if (x > 41) else (0 if (x>21) else -1 ) )
    # calculated sum of demand
    data['play_demand'] = data['play_child_value']\
                          + data['play_household_with_children']\
                          + data['play_income']\
                          + data['play_cars']\
                          + data['play_births']\
                          + data['play_rental']
    
    return data

demand_included_playground_perc = calculate_demand_values_perc(cbs_data_prepped)

In [16]:
### BASED ON CHILDREN AMOUNTS

demand_included_playground.sort_values(by=['play_demand','a_00_14'], ascending=False).head()

,neighbourhood,municipality,citizens,females,a_00_14,a_15_24,a_25_44,a_45_64,births,households_w_children,...,postal_code_center,percentage_under_15,play_child_value,play_household_with_children,play_income,play_cars,play_births,play_rental,play_demand,play_percentage_child
8415,Groot IJsselmonde,Rotterdam,28750,15185,4865,3155,7745,6815,350,4460,...,3079,16.921739,2,2,0,1,1,1,7,1
8424,Ommoord,Rotterdam,25685,13755,3595,2385,5440,6400,220,3690,...,3068,13.996496,2,2,0,1,1,1,7,0
8388,Schiebroek,Rotterdam,16900,9000,3585,1790,4335,4225,235,2855,...,3053,21.213018,2,2,0,1,1,1,7,2
8441,Hoogvliet Zuid,Rotterdam,22245,11620,3375,2345,5210,6195,225,3440,...,3192,15.171949,2,2,0,1,1,1,7,1
8425,Zevenkamp,Rotterdam,16085,8265,2720,1855,4045,4800,200,2815,...,3068,16.910165,2,2,0,1,1,1,7,1

In [17]:
#### BASED ON CHILDREN PERCENTAGES

demand_included_playground_perc.sort_values(by=['play_demand','percentage_under_15'], ascending=False).head()

,neighbourhood,municipality,citizens,females,a_00_14,a_15_24,a_25_44,a_45_64,births,households_w_children,...,postal_code_center,percentage_under_15,play_child_value,play_household_with_children,play_income,play_cars,play_births,play_rental,play_demand,play_percentage_child
7895,Hoge Veld,'s-Gravenhage,8890,4530,2420,1035,2700,2000,130,1860,...,2548,27.221597,2,2,0,1,1,1,7,2
7907,Morgenweide,'s-Gravenhage,7140,3585,1585,965,1920,2115,75,1455,...,2496,22.198880,2,2,0,1,1,1,7,2
8388,Schiebroek,Rotterdam,16900,9000,3585,1790,4335,4225,235,2855,...,3053,21.213018,2,2,0,1,1,1,7,2
6963,Bomenbuurt,Zaanstad,6450,3250,1345,700,2060,1590,110,1195,...,1505,20.852713,2,2,0,1,1,1,7,2
8416,Beverwaard,Rotterdam,12150,6220,2510,1655,3390,3380,130,2320,...,3077,20.658436,2,2,0,1,1,1,7,2

In [18]:
post_coordinate_map = pd.read_csv('postcode_coordinate.csv')

In [19]:
post_coordinate_map

,id,postcode,woonplaats,alternatieve_schrijfwijzen,gemeente,provincie,netnummer,latitude,longitude,soort
0,1,1000,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.336243,4.869444,Postbus
1,2,1001,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus
2,3,1002,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Onbekend
3,4,1003,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Onbekend
4,5,1005,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus
...,...,...,...,...,...,...,...,...,...,...
4694,4695,9995,Kantens,NaN,Eemsmond,Groningen,595,53.365440,6.633795,Adres
4695,4696,9996,Eppenhuizen,NaN,Eemsmond,Groningen,595,53.381294,6.696894,Adres
4696,4697,9997,Zandeweer,NaN,Eemsmond,Groningen,595,53.387513,6.681121,Adres
4697,4698,9998,Rottum,NaN,Eemsmond,Groningen,595,53.382942,6.620084,Adres
4698,4699,9999,Stitswerd,NaN,Eemsmond,Groningen,595,53.360877,6.599293,Adres

In [20]:
# This drops 74 rows

demand_included_playground = demand_included_playground[demand_included_playground['postal_code_center'] != '.' ]
demand_included_playground['postal_code_center'] = demand_included_playground['postal_code_center'].astype(int)

/tmp/ipykernel_677325/3720306408.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demand_included_playground['postal_code_center'] = demand_included_playground['postal_code_center'].astype(int)

In [21]:
with_coordinates = pd.merge(demand_included_playground, post_coordinate_map,  how='left', left_on=['postal_code_center'], right_on = ['postcode'])

In [22]:
with_coordinates

,neighbourhood,municipality,citizens,females,a_00_14,a_15_24,a_25_44,a_45_64,births,households_w_children,...,id,postcode,woonplaats,alternatieve_schrijfwijzen,gemeente,provincie,netnummer,latitude,longitude,soort
0,Appingedam-Centrum,Appingedam,2370,1230,230,225,500,715,10,250,...,4615.0,9901.0,Appingedam,NaN,Appingedam,Groningen,596.0,53.329242,6.850742,Adres
1,Appingedam-West,Appingedam,3035,1530,480,350,570,990,25,480,...,4617.0,9903.0,Appingedam,NaN,Appingedam,Groningen,596.0,53.308678,6.831403,Adres
2,Appingedam-Oost,Appingedam,5725,2960,900,580,1205,1560,40,865,...,4616.0,9902.0,Appingedam,NaN,Appingedam,Groningen,596.0,53.307070,6.859370,Adres
3,Verspreide huizen Damsterdiep en Eemskanaal,Appingedam,325,150,65,45,65,115,0,60,...,4617.0,9903.0,Appingedam,NaN,Appingedam,Groningen,596.0,53.308678,6.831403,Adres
4,Verspreide huizen ten zuiden van Eemskanaal,Appingedam,100,45,10,15,10,45,0,15,...,4616.0,9902.0,Appingedam,NaN,Appingedam,Groningen,596.0,53.307070,6.859370,Adres
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13515,Waal-Dorp,Molenlanden,110,55,20,20,25,40,5,20,...,983.0,2968.0,Waal,NaN,Liesveld,Zuid-Holland,184.0,51.938185,4.900937,Adres
13516,Wijngaarden-Buitengebied,Molenlanden,10,5,5,5,0,5,0,0,...,1245.0,3366.0,Wijngaarden,WYNGAARDEN,Graafstroom,Zuid-Holland,184.0,51.844976,4.763978,Adres
13517,Kern-Dorp,Molenlanden,440,215,60,70,80,135,5,65,...,1245.0,3366.0,Wijngaarden,WYNGAARDEN,Graafstroom,Zuid-Holland,184.0,51.844976,4.763978,Adres
13518,Lintbebouwing-Oost,Molenlanden,150,80,40,20,20,40,5,25,...,1245.0,3366.0,Wijngaarden,WYNGAARDEN,Graafstroom,Zuid-Holland,184.0,51.844976,4.763978,Adres
13519,Lintbebouwing-West,Molenlanden,115,60,25,15,20,35,5,20,...,1245.0,3366.0,Wijngaarden,WYNGAARDEN,Graafstroom,Zuid-Holland,184.0,51.844976,4.763978,Adres

In [23]:
output_list = with_coordinates[{'neighbourhood','municipality', 'a_00_14', 'play_demand', 'latitude', 'longitude'}]
output_list = output_list[output_list['play_demand'] > 4]
output_list

/tmp/ipykernel_677325/4081147264.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  output_list = with_coordinates[{'neighbourhood','municipality', 'a_00_14', 'play_demand', 'latitude', 'longitude'}]

,neighbourhood,municipality,longitude,latitude,play_demand,a_00_14
2,Appingedam-Oost,Appingedam,6.859370,53.307070,7,900
110,Hoogkerk-Zuid,Groningen,6.492274,53.205874,5,965
136,Beijum-West,Groningen,6.587102,53.249350,6,1005
137,Beijum-Oost,Groningen,6.601012,53.248579,6,1175
177,Haren,Groningen,6.585832,53.170990,6,1485
...,...,...,...,...,...,...
13142,Numansdorp Woonkern,Hoeksche Waard,4.438214,51.734768,6,1110
13153,Bedum,Het Hogeland,6.599829,53.301675,6,1205
13273,Marum,Westerkwartier,6.267326,53.146252,5,910
13292,Zuidhorn,Westerkwartier,6.408104,53.243148,6,1475
13476,Nieuw-Lekkerland-Dorp,Molenlanden,4.685896,51.887276,5,1055

In [24]:
output_list.to_csv('output_list.csv', index=False)